## Show all table in db

In [1]:
import sqlite3

def get_all_tables(database_path):
    try:
        # Connect to the SQLite database
        connection = sqlite3.connect(database_path)
        cursor = connection.cursor()

        # Query to retrieve all table names from sqlite_master
        query = "SELECT name FROM sqlite_master WHERE type='table';"
        cursor.execute(query)

        # Fetch all table names
        tables = cursor.fetchall()

        # Print the table names
        if tables:
            print("Tables in the database:")
            for table in tables:
                print(table[0])
        else:
            print("No tables found in the database")

    except sqlite3.Error as e:
        print("Error connecting to SQLite database:", e)

    finally:
        if connection:
            connection.close()
            print("Connection to SQLite database closed")

# Example usage:
# database_path = "./khmer_dic/db.sqlite"
database_path = "../data/khmer_dic/db.sqlite"
get_all_tables(database_path)

Tables in the database:
tb_bookmark
sqlite_sequence
tb_history
tb_main
Connection to SQLite database closed

## Select table tb_main from database and convert to df

In [2]:
import sqlite3
import pandas as pd

def table_to_dataframe(database_path, table_name):
    try:
        # Connect to the SQLite database
        connection = sqlite3.connect(database_path)

        # Query to retrieve all columns and data from the specified table
        query = f"SELECT * FROM {table_name};"

        # Use Pandas to read the query result into a DataFrame
        df = pd.read_sql_query(query, connection)

        # Print the DataFrame
        print(f"DataFrame for the {table_name} table:")
        # print(df)

        return df

    except sqlite3.Error as e:
        print("Error connecting to SQLite database:", e)
        return None

    # finally:
    #     if connection:
    #         connection.close()
    #         print("Connection to SQLite database closed")

# Example usage:
database_path = "../data/khmer_dic/db.sqlite"
table_name = "tb_main"
df = table_to_dataframe(database_path, table_name)
df.head()

DataFrame for the tb_main table:

,t_id,t_level,t_ref,t_main,t_subscrip,t_subword,t_pron,t_source,t_poly,t_pos,t_exp,t_exam,t_notes,t_remark
0,1,1,1,ក,1,1,[ក],,,ន.,តួព្យញ្ជនៈទី១នៃអក្ខរក្រមព្យញ្ជនៈខ្មែរ និងជាតួព...,,,1
1,2,1,2,ក,2,,[ក],,,កិ.,"តាំងផ្ដើម, តាំងធ្វើ :","កសាង, កកើត, កចេតិយ, កភូមិ។",,
2,3,1,3,ក,3,,[ក],,១),ន.,អវយវៈដែលតពីក្បាលទៅស្មាឬទៅខ្លួននៃមនុស្សសត្វ :,"កមនុស្ស, កមាន់។",,
3,4,1,3,,,,,,២),,កន្លែងដែលតជាប់ពីមាត់ដបជាដើមចុះទៅទល់នឹងក្អេងក៏ហ...,"កដប, កក្អម។",,
4,5,1,3,,,,,,៣),,ផ្នែកនៃដៃឬជើងដែលតភ្ជាប់ពីប្រអប់ដៃទៅកំភួនដៃឬពីប...,"កដៃ, កជើង។",,

## Convert t_pro and t_main column to text file

In [6]:
import pandas as pd

def load_data(df):
    t_main_values = df['t_main'].dropna().tolist()
    # t_pro_values = df['t_pron'].dropna().tolist()

    # Remove duplicate values
    t_main_values = list(set(t_main_values))
    # t_pro_values = list(set(t_pro_values))

    return t_main_values

def clean_values(values):
    values = [value for value in values if value != ""]
    values = [value.replace('[', '').replace(']', '').replace('-', '').replace('—', '').replace('―', '') for value in values]
    return values

def combine_and_split(t_main_values):
    combined = t_main_values 
    combined = [word for line in combined for word in line.split()]
    return list(set(combined))

def export_to_file(combined_values, file_path):
    with open(file_path, 'w') as file:
        for value in combined_values:
            file.write(f"{value}\n")

def main():
    # Assuming df is your DataFrame
    # df = pd.DataFrame  # Replace ... with your data

    t_main_values = load_data(df)
    t_main_values = clean_values(t_main_values)

    combined_values = combine_and_split(t_main_values)
    
    # Specify the file path
    file_path = 'khmer_words.txt'
    
    export_to_file(combined_values, file_path)
    
    print(f'The combined and split values have been exported to {file_path}')

if __name__ == "__main__":
    main()

The combined and split values have been exported to khmer_words.txt